<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo</title>
    <%- include("css.ejs") %>
</head>
<body>
<%- include("header.ejs") %>
<%- include("nav.ejs") %>

<section class="section main">
    <div class="container">
        <div class="row">
            <%- include("aside.ejs") %>
            <article class="content col-md-8">
                <h1>Chi tiết lớp học <%= classDetail.name %></h1>
                <h2>Danh sách sinh viên của lớp:</h2>
                <%- include("studentsList.ejs") %>
            </article>
        </div>
    </div>
</section>
<%- include("footer.ejs") %>
</body>
</html>