<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <%- include("css.ejs") %>
</head>
<body>
<%- include("header.ejs") %>
<%- include("nav.ejs") %>

<section class="section main">
    <div class="container">
        <div class="row">
            <%- include("aside.ejs") %>
            <article class="content col-md-8">
                <h1>Số người đã truy cập website: <%= count %></h1>
                <% if(count > 10){ %>
                    <h2>Đông người quá...</h2>
                <% } %>
            </article>
        </div>
    </div>
</section>
<%- include("footer.ejs") %>
</body>
</html>